*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #003566;
    --secondary-color: #FFD60A;
    --accent1-color: #001D3D;
    --accent2-color: #FFC300;
    --heading-font: "Bahiana", sans-serif;
    --body-font: "Julius Sans one", sans-serif;
}
body{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
header, main, footer, section, body{
    width: 840px;
    margin: 0 auto;
    text-align: center;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p, section, article{
    margin: 5px;
    padding: 8px;
    font-family: var(--body-font);
}
.socialmedia a{
    text-decoration: none;
}
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1 {
  position: absolute;
  top: 20px;
  padding: 15px;
  padding-inline: 334px;
  text-align: center;
  background-color: rgba(0, 29, 61, 0.7); 
  color: #fff; 
}
article {
  font-family: var(--body-font);
  position: absolute;
  top: 150px;
  padding: 15px;
  text-align: center;
  background-color: rgba(0, 29, 61, 0.7); 
  color: #fff; 
}

.hero article img{
    float: right;
    width: 205px;
}
header{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    justify-items: center;
    align-items: center;
}
.logo img{
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}
.navigation{
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    padding: 0;
    font-family: var(--heading-font);
}
.navigation li{
    flex: 1 1 auto;
}
.navigation a{
    display: block;
    color:navy;
    padding: 20px;    
    text-decoration: none;
    font-size:2rem;
}
.navigation a:hover{
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}
h2{
  position: relative;
  right: 2%;
  top: 0;
  text-align: center;
  margin: 5px;
  font-size: 30px;
}


.container2 {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top: 50%;
    right: 5px;
    align-items: center;
    justify-items: center;
}


.container3 {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    position: relative;
    top: 50%;
    right: 2%;
}


.three { 
    background-color: #ace;
    font-family: var(--body-font);
    position: relative;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); 
    color: #000000; 
}
.three img{ 
    height: 250px;
    width: 160px;
    border-radius:  30px 30px 30px 30px;
}
.three p{ 
    font-size: 13px;
    font-weight: bold;
    margin: 1px;
}
footer{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    justify-items: center;
    align-items: center;
    
}
.socialmedia{
    display: flex;
    list-style: none;
    padding: 0;
    font-family: var(--heading-font);
    text-align: center;
    justify-items: center;
    align-items: center;
}
.socialmedia img{
    width: 30px;
    height: 30px;
}
.socialmedia li{
    flex: 1 1 auto;
}
.socialmedia a{
    display: block;
    color:navy;
    padding: 20px;    
    text-decoration: none;
    font-size:2rem;
}
.columns-3 { 
    grid-column: 1/4;
}

.two img{ 
    display: block;
    height: 150px;
    width: 220px;
    border-radius:  30px 30px 30px 30px;
    margin: 10px;
}
.two p{ 
    font-size: 13px;
    font-weight: bold;
    margin: 1px;
    text-align:justify;
}